* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* shared styles */
.d-f{
    display: flex;
}
/* dark 02 */
.te-gr{
    color: #424242;
}
/* dark 03 */
.te-li-gr{
    color:#727272 ;
}
/* primary color */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* button style */
.btn{
    color: #ffffff;
    background-color: #ff900e;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
/* max-width */
 main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;

}

.nav-bar, .banner{
    max-width: 1440px;
    /* width: 100%; */
    margin: 0 auto;
}
/* banner related */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    counter-reset: #131313;
}
.banner-des{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 30px;
}
.banner-img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.teams{
    align-items: center;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.text-container{
    margin-left: 70px;
    max-width: 530px;
}
.section-title{
    font-size: 2.8rem;
    color: #131313;
    font-weight: bolder;
    margin-bottom: 24px;
}
#span1{
    color: #727272;
    font-weight:600;
}
#span2{
    color: #FF900E;    
}
.section-des{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    margin-bottom: 32px;
}
/* responsive media query  */
@media screen and (max-width:576px) {
    .nav-bar,
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .nav-links{
        text-align: center;
        gap: 10px;
    }
    .img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .text-container{
        margin-left: 50px;
    }
}
@media screen and (min-width:576ps) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .text-container{
        margin-left: 40px auto;
    }
}